# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno y secretos
.env
*.env

# Bases de datos y almacenamiento local
vectorstore/
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
